<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list [inset]="true">
    @for (list of todoList; track list.id){
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox
          slot="start"
          aria-label="Toggle task completion"
          [checked]="list.active === 0 ? false : true"
          (ionChange)="markComplete($event, list)"
        ></ion-checkbox>
        <ion-label [ngClass]="list.active === 1 ? 'strike-text' : ''">{{
          list.name
        }}</ion-label>
        <ion-icon
          (click)="getTodoImage()"
          aria-hidden="true"
          name="image-outline"
          slot="end"
        ></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteItem(list)"
          >Delete</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>
</ion-content>
