<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox
        slot="start"
        aria-label="Toggle task completion"
      ></ion-checkbox>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox
        slot="start"
        aria-label="Toggle task completion"
      ></ion-checkbox>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox
        slot="start"
        aria-label="Toggle task completion"
      ></ion-checkbox>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
