ion-fab {
  margin-bottom: 5vh;
}
ion-fab-button {
  --background: #000000;
  border: 3px solid #fff;
  border-radius: 30px;
}
ion-icon {
  color: #fff;
}
ion-checkbox {
  flex: 0;
}
ion-content {
  background-image: url("../../../assets/images/bg.png") !important;
}
