<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/shopping"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addToList()">
      <ion-icon name="paper-plane"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="wrapper">
    @if (shoppingList) {
    <ion-list [inset]="true">
      @for (list of shoppingList; track list.id){
      <ion-item-sliding>
        <ion-item>
          <ion-label [ngClass]="list.active === 0 ? 'strike-text' : ''">{{
            list.title
          }}</ion-label>
          <ion-checkbox
            slot="end"
            aria-label="Toggle task completion"
            [checked]="list.active === 0 ? true : false"
            (ionChange)="markComplete($event, list)"
          ></ion-checkbox>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteItem(list)"
            >Delete</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>

      }
    </ion-list>
    } @else {
    <div color="tertiary" class="no-item">
      <h5>No item available</h5>
    </div>
    }
    <ion-infinite-scroll>
      <ion-infinite-scroll-content
        loadingText="Please wait..."
        loadingSpinner="bubbles"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-item class="footer-item">
      <ion-input
        label-placement="floating"
        fill="outline"
        placeholder="Add an item"
        [(ngModel)]="newItem"
      ></ion-input>
    </ion-item>
  </div>
</ion-content>
