ion-fab {
  margin-bottom: 5vh;
}
ion-fab-button {
  --background: #000000;
  border: 3px solid #fff;
  border-radius: 30px;
}
ion-icon {
  color: #fff;
}
ion-checkbox {
  flex: 0;
}
.strike-text {
  text-decoration: line-through;
  color: #a19e9e;
}
.footer-item {
  position: absolute;
  margin-bottom: 5vh;
  bottom: 20px;
  width: 90%;
  padding: 0;
  --padding-start: 2px;
  --inner-padding-end: 2px;
  .sc-ion-input-ios-s {
    --background: #33394199;
    --padding-start: 10px;
  }
}
.wrapper {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
