<!-- <app-user [profile]="teachersProfile?.teachersDetail"></app-user> -->
<!-- <div class="all-students" [routerLink]="['/allStudents']">
    All Students
</div> -->
<home-logo></home-logo>
<div class="dashboard-blocks-container">
  <ion-nav-link router-direction="forward" [component]="todoComponent">
    <button class="dashboards-blocks" [routerLink]="['/todo']">
      <img src="../assets/icons/todo.svg" class="dashboard-icons" />
    </button>
  </ion-nav-link>
  <ion-nav-link router-direction="forward" [component]="shoppingComponent">
    <button class="dashboards-blocks" [routerLink]="['/shopping']">
      <img src="../assets/icons/shopping.svg" class="dashboard-icons" />
    </button>
  </ion-nav-link>
</div>
<div class="dashboard-blocks-container">
  <button class="dashboards-blocks" [routerLink]="['/subjects', 'maths']">
    <img src="../assets/icons/reminder.svg" class="dashboard-icons" />
  </button>
  <button class="dashboards-blocks" [routerLink]="['/subjects', 'computers']">
    <img src="../assets/icons/password.svg" class="dashboard-icons" />
  </button>
</div>
