.signup-blocks-container {
  display: flex;
  max-width: 400px;
  flex-direction: row;
  padding: 12px;
  gap: 24px;
  justify-content: center;
  margin: 100px auto;
}
.text-center {
  text-align: center;
}
.login {
  margin-top: 20px;
}
